body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #dddddd;
}
/* 
#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} */

body > header h1 {
    border-bottom: 3px solid black;
    max-width: 45%;
}

#productList {
    max-width: 50%;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.product {
    flex-basis: 25%;
    border: 1px solid lightgray;
    background-color: #eeeeee;
    box-shadow: 3px 3px 5px #aaaaaa;
    padding: 15px;
    margin: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product:hover {
    border: 1px solid #777777;
    background-color: white;
}

.product__header {
    text-align: center;
    margin-bottom: -15px;
}

.product__description {
    /*font-size: 1.25em; */
}

.shoppingCart__header {
    font-size: 18px;
}

#cartItems {
    display: flex;
    flex-direction: column;
}
#shoppingCart {
    /* flex-basis: 48%; */
    position: fixed;
    margin-left: 51%;
    min-width: 47%;
    top: 35px;
}

.shoppingCart__item, .shoppingCart__nav {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    justify-content: space-around;
    border-bottom: 1px solid gray;
    padding: 3px;
}
.even {
    background-color: whitesmoke;
}

.shoppingCart__nav {
    font-weight: bold;
}

.shoppingCart__item div, .shoppingCart__nav div {
    flex-basis: 25%;
    text-align: center;
    /* border: 1px solid #ff0; */
}

div.cart__name {
    flex-basis: 40%;
}

div.cart_button {
    flex-basis: 5%;
}